body {
  background: rgb(224, 240, 216);
}

hr {
    height: 2px;
}
h1, h2 {
  color: #370050;
  font-weight: bold; 
}
a {
  color: #17AB33;
  text-decoration: none;
  font-style: italic;
 }
 a:hover {
  color: #370050;
  transform: scale(1.5);
  text-transform: uppercase;
 }
h2 {
  text-decoration: underline;
  text-decoration-color: #17AB33;
  text-decoration-thickness: 1.5px;
}
p {
  font-style: italic;
}
p, ul {
  color: rgb(70, 28, 124);
}
li {
  list-style-type: none;
}
select {
  color: #370050
}
button {
  background-color: green;
  color:#370050;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;

}
button:hover {
  transform: scale(1.5);
  background:rgb(70, 28, 124);
  color: rgb(217, 211, 223);
}